:root 
{
 --bg-success:green;
 --bg-danger:red;
 --bg-warning:yellow;
 --bg-lightgray:rgb(255, 250, 250);
 --bg-dark:black;
 --bg-white:white;
 --bg-primary:#135f90;
 --txt-success:green;
 --txt-danger:red;
 --txt-warning:yellow;
 --txt-lightgray:rgb(255, 250, 250);
 --txt-dark:black;
 --txt-white:white;
 --txt-primary:#135f90;
}

body
{
margin: 0px;
padding: 0px;
overflow-x: hidden;
box-sizing: border-box;
background-color:var(--bg-primary);
}